<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Edit Course</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="{% url 'lectures:update' course.id %}" method="post">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" name="name" value="{{ course.name }}">
      <label for="description">Description:</label>
      <textarea name="description" id="" cols="30" rows="10">{{ course.description }}</textarea>
      <input type="submit" value="Edit Course">
    </form>
    <a href="/" class="button">Go Back Home</a>
  </div>
</body>
</html>